<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">


	<http auto-config="true" use-expressions="true">
		<remember-me key="bizgrass" token-validity-seconds="864000" />
		<intercept-url pattern="/*" access="permitAll" />
		<intercept-url pattern="/access/*" access="hasRole('ROLE_USER')"  />
		<openid-login />

		<form-login login-page="/tryLogin.biz" default-target-url="/access/login.biz"
			authentication-failure-url="/loginfailed.biz" />
		<logout invalidate-session="true" logout-success-url="/tryLogin.biz"
			logout-url="/access/logout.biz" />
		<session-management>
			<concurrency-control max-sessions="1" expired-url="/sessionExpired.biz" />
			
		</session-management>

	</http>

	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="sha" />
			<jdbc-user-service data-source-ref="dataSource"

				users-by-username-query="
					select username,password, enabled 
					from users where USERNAME=?"

				authorities-by-username-query="
					select u.username, ur.authority from users u, user_roles ur 
					where u.username =?  " />
		</authentication-provider>
	</authentication-manager>

</beans:beans>